.content-section {
    align-items: center;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size:3vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("/images/impostor9.jpg");
    background-position: 10% center;
    background-size: 40%;
}

textarea {
    border-style: none;
    border-radius: 13px;
    background-color: gainsboro;
    opacity: .5;
    font-family: 'Inter', sans-serif;
    text-align: center; 
    line-height: 30px;
    height: 250px;
    resize: none;
    width: 400px;
}

#api {
    background-color: #f1efea; 
    border: none;
    border-radius: 12px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    position: fixed;
    bottom: 0;
    right: 0;
}

#calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30vh;
    padding: 10px;
    margin: 10px;
}

.calendar-month {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1px;
    margin: 1px;
}

.calendar-month-title {
    font-size: 15px;
    font-weight: bolder;
}

.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 12px;
    background-color: lightgray;
    color: white;
    width: 30px;
    height: 15px;
    opacity: 0.5;
}

.calendar-day-happy {
    background-color: green;
}

.calendar-day-average {
    background-color: yellow;
}

.calendar-day-bad {
    background-color: red;
}