.content-section {
    font-family: 'Lucida Sans';
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.background {
    background-repeat: no-repeat;
    width: 500;
    height: 600;
    justify-content: left;
}

textarea {
    background-color: gainsboro;
    resize: none;
    width: 300px;
    height: 150px;
    font-family: 'Lucida Sans';
    width: 400px;
    border-style: none;
    border-radius: 10px;
}